@using AOMForum.Web.Models.Posts
@using AOMForum.Data.Models.Enums
@using static AOMForum.Common.ViewConstants.Posts.Edit
@model PostEditModel

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="" asp-controller="Posts" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" id="input-category">
                    @foreach (CategoryInPostViewModel category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagIds"></label>
                <select asp-for="TagIds" id="input-tags">
                    @foreach (TagInPostViewModel tag in Model.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <span asp-validation-for="TagIds"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@InputSubmitValue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id">@RefuseEditGoToDetails</a> |
    <a asp-area="" asp-controller="Posts" asp-action="Index">@RefuseEditGoToIndex</a>
</div>

@section Scripts {
    <script>
        let $select = $('#input-category').selectize({
            create: false,
            sortField: 'text',
            placeholder: '@SelectPlaceholder'
        });
        $select.each(function () {
            $(this)[0].selectize.clear(true);
        });
        $('#input-tags').selectize({
            plugins: ['remove_button'],
            delimiter: ',',
            persist: false,
            create: false
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}