@using AOMForum.Web.Models.Posts;
@using static AOMForum.Common.ViewConstants.Posts.Index
@using static AOMForum.Common.GlobalConstants
@model PostsAllViewModel

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

@if (this.User.Identity != null && !this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <p>
            <a type="button" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">@LogIn</a>
            @RegisterText
            <a type="button" class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">@Register</a>
        </p>
    </div>
}

@if (Model.TotalPagesCount > 0 && Model.Search == null)
{
    <h3 class="text-center">@PagesHeading</h3>
    <div class="text-center">
        <nav>
            <ul type ="None">
                <li>
                    <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-page="@Model.PreviousPage">&laquo;</a>
                </li>
                @for (int i = 1; i <= Model.TotalPagesCount; i++)
                {
                    string active = i == Model.PageIndex ? "active" : string.Empty;
                    <li>
                        <a class="@active" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }
                <li>
                    <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-page="@Model.NextPage">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
}
else if (Model.TotalPagesCount > 0 && Model.Search != null)
{
    <h3 class="text-center">@PagesHeading</h3>
    <div class="text-center">
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-search="@Model.Search" asp-route-page="@Model.PreviousPage">&laquo;</a>
                </li>
                @for (int i = 1; i <= Model.TotalPagesCount; i++)
                {
                    string active = i == Model.PageIndex ? "active" : string.Empty;
                    <li>
                        <a class="@active" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-search="@Model.Search" asp-route-page="@i">@i</a>
                    </li>
                }
                <li>
                    <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-search="@Model.Search" asp-route-page="@Model.NextPage">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
}

<h3 class="text-center">@PostsHeading</h3>
<p>
    <a asp-area="" asp-controller="Posts" asp-action="Create">@CreateNewPost</a>
</p>
@if (Model.Posts.Any()) 
{
<table class="table">
    <thead>
        <tr>
            <th>
                @TitleTitle
            </th>
            <th>
                @PostImageTitle
            </th>
            <th>
                @VotesCountTitle
            </th>
            <th>
                @CommentsCountTitle
            </th>
            <th>
                @AuthorTitle
            </th>
            <th>
                @AuthorImageTitle
            </th>
            <th>
                @CategoryTitle
            </th>
            <th>
                @TagsTitle
            </th>            
            <th>
                @ActionsTitle
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (PostListViewModel post in Model.Posts) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => post.Title)
            </td>
            <td>
                <img src="@post.ImageUrl" alt="@(AltImage + post.Title)" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.VotesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.CommentsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.AuthorUserName)
            </td>
            <td>
                <img src="@post.AuthorProfilePictureURL" alt="@(AltImage + post.AuthorUserName)" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Category.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => string.Join(", ", post.Tags.Select(t => t.Name)))*@
                @*@Html.DisplayFor(modelItem => post.Tags)*@
                @string.Join(", ", post.Tags.Select(t => t.Name))
            </td>            
            <td>
                <a asp-area="" asp-controller="Categories" asp-action="Details" asp-route-id="@post.Category.Id">@GoToCategoryAction</a> | 
                <a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@DetailsAction</a>                
                @if (this.User.Identity != null && this.User.Identity.IsAuthenticated && (post.AuthorId == this.User.Id() || this.User.IsInRole(AdministratorRoleName)))
                    {
                        @:|
                        <a asp-area="" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">@EditAction</a> @:|
                        <a asp-area="" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">@DeleteAction</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <p>@NoPostsFound</p>
}