@using AOMForum.Web.Models.PostReports
@using static AOMForum.Common.ViewConstants.Administration.PostReports.Delete
@model PostReportDeleteModel

@{
    ViewData["Title"] = ViewTitle + Model.PostTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<h3>@SureToDelete</h3>
<div>
    <h4>PostReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorProfilePictureURL)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.AuthorProfilePictureURL" alt="@(AltImage + Model.AuthorUserName)" width="100" />
        </dd>        
    </dl>    
    <form asp-area="Administration" asp-controller="PostReports" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@InputSubmitValue" class="btn btn-danger" /> |
    </form>
    <a asp-area="" asp-controller="Post" asp-action="Details" asp-route-id="@Model.PostId">@GoToPost</a> |
    <a asp-area="Administration" asp-controller="PostReports" asp-action="Index">@BackToIndex</a>
</div>
