@using AOMForum.Web.Models.PostReports
@using static AOMForum.Common.ViewConstants.Administration.PostReports.Index
@model IEnumerable<PostReportListViewModel>

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShortContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorProfilePictureURL)
            </th>            
            <th>@Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (PostReportListViewModel report in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => report.ShortContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => report.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => report.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => report.AuthorUserName)
            </td>
            <td>
                <img src="@report.AuthorProfilePictureURL" alt="@(AltImage + report.AuthorUserName)" width="100" />
            </td>            
            <td>                
                <a asp-area="Administration" asp-controller="PostReports" asp-action="Details" asp-route-id="@report.Id">@DetailsAction</a> |
                <a asp-area="Administration" asp-controller="PostReports" asp-action="Delete" asp-route-id="@report.Id">@DeleteAction</a>
            </td>
        </tr>
}
    </tbody>
</table>