@using AOMForum.Web.Models.Categories
@using static AOMForum.Common.ViewConstants.Categories.Details
@using static AOMForum.Common.GlobalConstants
@model CategoryDetailsViewModel

@{
    ViewData["Title"] = ViewTitle + Model.Name;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

<div>    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ImageUrl" alt="@(AltImage + Model.Name)" width="100" />
        </dd>
    </dl>
</div>
<div>
    @if (this.User.IsInRole(AdministratorRoleName))
    {
        <a asp-area="Administration" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id">@EditAction</a> @:|
        <a asp-area="Administration" asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.Id">@DeleteAction</a>
        <br />
    }
    <a asp-area="" asp-controller="Categories" asp-action="Index">@BackToIndex</a>
</div>

<h3 class="text-center">@PostsHeading</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @PostTitleTitle
            </th>
            <th>
                @PostCreatedOnTitle
            </th>
            <th>
                @PostShortContentTitle
            </th>
            <th>
                @PostCommentsCountTitle
            </th>
            <th>
                @PostUserNameTitle
            </th>
            <th>
                @ActionsTitle
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (PostInCategoryViewModel post in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => post.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => post.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => post.ShortContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => post.CommentsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => post.UserName)
                </td>                
                <td>
                    <a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@DetailsAction</a>
                </td>
            </tr>
        }
    </tbody>
</table>