@using AOMForum.Web.Models.UserRelationships
@using static AOMForum.Common.ViewConstants.Users.AdminIndex
@using static AOMForum.Common.GlobalConstants
@model IEnumerable<AdminListViewModel>

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePictureURL)
            </th>
            <th>
                @ActionsTitle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (AdminListViewModel admin in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => admin.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.Biography)
                </td>
                <td>
                    <img src="@admin.ProfilePictureURL" alt="@(AltImage + admin.FullName)" width="100" />
                </td>
                <td>
                    <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@admin.Id">@GoToDetails</a> |
                    <a asp-area="" asp-controller="Users" asp-action="PostsIndex" asp-route-id="@admin.Id">@GoToPostsIndex</a> |
                    <a asp-area="" asp-controller="Users" asp-action="CommentsIndex" asp-route-id="@admin.Id">@GoToCommentsIndex</a> |
                    <a asp-area="" asp-controller="Users" asp-action="FollowersIndex" asp-route-id="@admin.Id">@GoToFollowersIndex</a> |
                    <a asp-area="" asp-controller="Users" asp-action="FollowingsIndex" asp-route-id="@admin.Id">@GoToFollowingsIndex</a> |
                    <a asp-area="" asp-controller="Users" asp-action="Index">@GoToIndex</a> |
                    <a asp-area="" asp-controller="Home" asp-action="Index">@GoToHomePage</a>
                </td>
            </tr>
        }
    </tbody>
</table>