@using AOMForum.Web.Models.UserRelationships
@using static AOMForum.Common.ViewConstants.Users.Index
@using static AOMForum.Common.GlobalConstants
@model IEnumerable<UserListViewModel>

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePictureURL)
            </th>
            <th>
                @ActionsTitle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserListViewModel user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Gender)
                </td>
                <td>
                    <img src="@user.ProfilePictureURL" alt="@(AltImage + user.FullName)" width="100" />
                </td>
                <td>
                    @if (this.User.Identity != null && this.User.Identity.IsAuthenticated)
                    {
                        @if (this.User.IsInRole(AdministratorRoleName))
                        {
                        <a asp-area="Administration" asp-controller="Users" asp-action="Index">@GoToIndexForAdmins</a> @:|
                        <a asp-area="Administration" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id">@DeleteAction</a><br />
                        }
                    <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">@GoToDetails</a> @:|
                    <a asp-area="" asp-controller="Users" asp-action="PostsIndex" asp-route-id="@user.Id">@GoToPostsIndex</a> @:|
                    <a asp-area="" asp-controller="Users" asp-action="CommentsIndex" asp-route-id="@user.Id">@GoToCommentsIndex</a> @:|
                    <a asp-area="" asp-controller="Users" asp-action="FollowersIndex" asp-route-id="@user.Id">@GoToFollowersIndex</a> @:|
                    <a asp-area="" asp-controller="Users" asp-action="FollowingsIndex" asp-route-id="@user.Id">@GoToFollowingsIndex</a> @:|
                    <a asp-area="" asp-controller="Users" asp-action="AdminIndex">@GoToAdminIndex</a> @:|
                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@user.Id">@GoToHomePage</a>
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>