@using AOMForum.Web.Models.Categories
@using static AOMForum.Common.ViewConstants.Administration.Categories.Index
@model CategoriesAllViewModel

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<form class="text-center" asp-area="Administration" asp-controller="Categories" asp-action="Index" method="get">
    <div class="row">
        <div class="form-group">
            <label asp-for="Search"></label>
            <input type="text" asp-for="Search" class="form-control" placeholder="@SearchCategoryPlaceholder" />
            <button type="submit">@SubmitButtonInscription</button>
        </div>
    </div>
</form>
<p>     
    <a asp-area="Administration" asp-controller="Categories" asp-action="Create">@CreateNewCategory</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @NameTitle
            </th>
            <th>
                @DescriptionTitle
            </th>
            <th>
                @PostsCountTitle
            </th>
            <th>
                @ImageTitle
            </th>            
            <th>
                @ActionsTitle
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (CategoryListViewModel category in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => category.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => category.PostsCount)
            </td>
            <td>
                <img src="@category.ImageUrl" alt="@(AltImage + category.Name)" width="100" />
            </td>            
            <td>
                <a asp-area="Administration" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id">@EditAction</a> | 
                <a asp-area="Administration" asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id">@DeleteAction</a><br />
                <a asp-area="" asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">@DetailsAction</a>
            </td>
        </tr>
}
    </tbody>
</table>