@using AOMForum.Web.Models.Tags
@using static AOMForum.Common.ViewConstants.Administration.Tags.Index
@model TagsAllViewModel

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<form class="text-center" asp-area="Administration" asp-controller="Tags" asp-action="Index" method="get">
    <div class="row">
        <div class="form-group">
            <label asp-for="Search"></label>
            <input type="text" asp-for="Search" class="form-control" placeholder="@SearchPlaceholder" />
            <button type="submit">@SubmitButtonInscription</button>
        </div>
    </div>
</form>
<p>     
    <a asp-area="Administration" asp-controller="Tags" asp-action="Create">@CreateNewCategory</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @NameTitle
            </th>            
            <th>@ActionsTitle</th>
        </tr>
    </thead>
    <tbody>
@foreach (TagListViewModel tag in Model.Tags) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => tag.Name)
            </td>
            <td>
                <a asp-area="Administration" asp-controller="Tags" asp-action="Delete" asp-route-id="@tag.Id">@DeleteAction</a><br />
                <a asp-area="" asp-controller="Tags" asp-action="Details" asp-route-id="@tag.Id">@DetailsAction</a>
            </td>
        </tr>
}
    </tbody>
</table>