@page
@using static AOMForum.Common.ViewConstants.Identity.Register
@model RegisterModel
@{
    this.ViewData["Title"] = ViewTitle;
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>@CreateNewAccountHeading</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" placeholder="@UsernamePlaceholder" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="@EmailPlaceholder" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" placeholder="@FirstNamePlaceholder" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.SecondName"></label>
                <input asp-for="Input.SecondName" class="form-control" placeholder="@SecondNamePlaceholder" />
                <span asp-validation-for="Input.SecondName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" placeholder="@LastNamePlaceholder" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.BirthDate"></label>
                <input asp-for="Input.BirthDate" class="form-control" placeholder="@BirthDatePlaceholder" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Gender"></label>
                <input asp-for="Input.Gender" class="form-control" placeholder="@GenderPlaceholder" />
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Biography"></label>
                <input asp-for="Input.Biography" class="form-control" placeholder="@BiographyPlaceholder" />
                <span asp-validation-for="Input.Biography" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ProfilePictureURL"></label>
                <input asp-for="Input.ProfilePictureURL" class="form-control" placeholder="@ProfilePictureURLPlaceholder" />
                <span asp-validation-for="Input.ProfilePictureURL" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" placeholder="@PasswordPlaceholder" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@ConfirmPasswordPlaceholder" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@RegisterAction</button>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (Microsoft.AspNetCore.Authentication.AuthenticationScheme provider in this.Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}