@using AOMForum.Web.Models.Home;
@using static AOMForum.Common.ViewConstants.Home.Index
@using static AOMForum.Common.GlobalConstants
@model HomeViewModel

@{
    ViewData["Title"] = ViewTitle;
}

<div class="text-center">
    <h1 class="display-4">@WelcomeHeading @SystemName!</h1>
    <p>@AOMForumDescriptionParagraph</p>
    <p>@AOMDescriptionParagraph <a href="https://tsvetelinivanov.github.io/CSS-Advanced-AOM/about-us.html">@GoToDescrriptionInAOMSite</a></p>
</div>
<div class="mt-4 p-5 bg-light text-center">
    <a asp-area="" asp-controller="Categories" asp-action="Index" class="btn btn-primary btn-lg">@GoToCategories</a><span> | </span>
    <a asp-area="" asp-controller="Posts" asp-action="Index" class="btn btn-primary btn-lg">@GoToPosts</a><span> | </span>
    <a href="https://tsvetelinivanov.github.io/CSS-Advanced-AOM/" class="btn btn-primary btn-lg">@GoToAOMSite</a><span> | </span>
    @*<a asp-area="" asp-controller="Messages" asp-action="Create" class="btn btn-primary btn-lg">@GoToMessages</a><span> | </span>*@
    <a asp-area="" asp-controller="Chat" asp-action="Index" class="btn btn-primary btn-lg">@GoToChat</a><span> | </span>
    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="btn btn-primary btn-lg">@GoToPrivacy</a><span> | </span>
    <a asp-area="" asp-controller="Users" asp-action="Index" class="btn btn-primary btn-lg">@GoToUsers</a><span> | </span>
    <a asp-area="" asp-controller="Users" asp-action="AdminIndex" class="btn btn-primary btn-lg">@GoToAdmins</a>
</div>
<div class ="text-center">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsersCount)
        </dt>        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsersCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdminsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdminsCount)
        </dd>        
    </dl>
</div>