@using AOMForum.Web.Models.Comments
@using AOMForum.Web.Infrastructure
@using static AOMForum.Common.ViewConstants.Comments.Details
@using static AOMForum.Common.GlobalConstants
@model CommentDetailsViewModel

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

@*<vc:create-comment post-id="@Model.Id" parent-id="null"></vc:create-comment>*@

<div>    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanitizedContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorProfilePictureURL)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.AuthorProfilePictureURL" alt="@(AltImage + Model.AuthorUserName)" width="100" />
        </dd>
    </dl>
</div>
@*<div>
    <form asp-area="" asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" style="display: none">
        <input type="hidden" name="PostId" value="@this.Model.PostId" />
        <input type="hidden" name="ParentId" value="@this.Model.Id" />
        <div>
            <label for="Content">@CreateComment</label>
            <textarea name="Content" id="Content" class="form-control"></textarea>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="@SendComment" />
        </div>
    </form>
</div>*@
<div>
    <a asp-area="" asp-controller="CommentReports" asp-action="Create" asp-route-id="@Model.Id">@CreateReport</a> |
    <a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId">@GoToPost</a> |
    <a asp-area="" asp-controller="Posts" asp-action="Index">@GotoPosts</a>
    @if (this.Model.AuthorId == this.User.Id() || this.User.IsInRole(AdministratorRoleName))
    {
        @:|
        <a asp-area="" asp-controller="Comments" asp-action="Edit" asp-route-id="@Model.Id">@EditAction</a> @:|
        <a asp-area="" asp-controller="Comments" asp-action="Delete" asp-route-id="@Model.Id">@DeleteAction</a>
    }
</div>

@*<div class="card-header">
    <div class="media flex-wrap w-100 align-items-center">        
        <div class="media-body ml-3">
            @Model.AuthorUserName
            <div class="text-muted small">
                <time datetime="@Model.CreatedOn"></time>
            </div>
        </div>
        <div class="text-muted small ml-3">
            <form id="votesForm" method="post"></form>
            <div>
                <a href="#" onclick="sendVote(@Model.Id, true)">
                    <i class="fa fa-thumbs-up"></i>
                </a>
            </div>
            <div id="votesCount">@Model.VotesCount</div>
            <div>
                <a href="#" onclick="sendVote(@Model.Id, false)">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            </div>
        </div>
    </div>
</div>*@

<h3 class="text-center">@PostCommentsHeading</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @CommentContentTitle
            </th>
            <th>
                @CommentVotesCountTitle
            </th>
            <th>
                @CommentCreatedOnTitle
            </th>
            <th>
                @CommentAuthorTitle
            </th>
            <th>
                @CommentAuthorImageTitle
            </th>
            <th>
                @ActionsTitle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (CommentDetailsViewModel comment in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => comment.SanitizedContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => comment.VotesCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => comment.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => comment.AuthorUserName)
                </td>
                <td>
                    <img src="@comment.AuthorProfilePictureURL" alt="@(AltImage + comment.AuthorUserName)" width="100" />
                </td>
                <td>
                    <a asp-area="" asp-controller="Comments" asp-action="Details" asp-route-id="@comment.Id">@DetailsAction</a> |
                    <a asp-area="" asp-controller="CommentReports" asp-action="Create" asp-route-id="@comment.Id">@CreateReport</a>
                    @if (comment.AuthorId == this.User.Id() || this.User.IsInRole(AdministratorRoleName))
                    {
                        @:|
                        <a asp-area="" asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id">@EditAction</a> @:|
                        <a asp-area="" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id">@DeleteAction</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@*@section Scripts {
    <script>
        function sendVote(commentId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { commentId: commentId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/commentvotes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }
    </script>
}*@