@using AOMForum.Web.Models.Messages
@using static AOMForum.Common.ViewConstants.Messages.Create
@model MessageInputModel

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

<vc:last-message></vc:last-message>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>@SendTo</label>
            <select asp-for="ReceiverId" id="select-partner">
            @foreach (MessagePartnerModel possiblePartner in Model.MessagePartners)
            {
                <option value="@possiblePartner.Id">@possiblePartner.UserName</option>
            }
            </select>
            <span asp-validation-for="ReceiverId"></span>
        </div>
        <form id="addMessageForm" asp-area="" asp-controller="Messages" asp-action="Create" method="post">
            <div asp-validation-summary="All"></div>
            <input value="@Model.ReceiverId" name="ReceiverId" hidden />
            <div class="form-group">
                <textarea id="messageBox" asp-for="Content" class="form-control" placeholder="@WriteMessagePlaceholder"></textarea>
                <span asp-validation-for="Content"></span>
            </div>
            <div class="form-group">
                <button id="sendButton" type="submit" class="btn btn-primary">@CreateAction</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $('#messageBox').on('keypress', function (e) {
            if (e.which === 13 && !e.shiftKey) {
                e.preventDefault();
                $('#sendButton').click();
            }
        });
        $('#select-partner').on('change', function () {
            var valueSelected = this.value;
            $("#addMessageForm input[name='ReceiverId']").val(valueSelected);
        });
        var $select = $('#select-partner').selectize({
            create: false,
            sortField: 'text',
            placeholder: '@SelectPartnerPlaceholder'
        });
        $select.each(function () {
            $(this)[0].selectize.clear(true);
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}