@using AOMForum.Web.Models.UserRelationships
@using static AOMForum.Common.ViewConstants.Administration.Users.Delete
@model UserDeleteModel

@{
    ViewData["Title"] = ViewTitle;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

<h3>@SureToDelete</h3>
<div>    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePictureURL)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ProfilePictureURL" alt="@(AltImage + Model.FullName)" width="100" />
        </dd>        
    </dl>
    
    <form asp-area="Administration" asp-controller="Users" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@InputSubmitValue" class="btn btn-danger" /> |
        <a asp-area="Administration" asp-controller="Users" asp-action="Index">@GoToIndex</a> |
        <a asp-area="Administration" asp-controller="Users" asp-action="DeletedIndex">@GoToDeletedIndex</a>
    </form>
</div>